<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zk.openrs.mapper.ProductMapper">

    <select id="getById"  resultType="com.zk.openrs.pojo.ProductInfo" parameterType="java.lang.Integer">
        select * from product where id=#{pid}
    </select>

    <insert id="addProduct" parameterType="com.zk.openrs.pojo.ProductInfo">
        INSERT INTO
       		product
       	VALUES
       		(default,#{productName}, #{productBindAccount}, #{productBindPassword}, #{productCurrentStatus},#{productBindPicturePath})
    </insert>

    <select id="getAllProduct"  resultType="com.zk.openrs.pojo.ProductInfo">
        select * from product
    </select>

</mapper>